@mixin flex-container($flex-direction,$justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;}

.success {
   @include flex-container(column, center, center);
   gap: 30px;
}

.text {
   color: var(--text-color);  
   text-align: center;
   font: {
      size: 31px;
      style: normal;
      weight: 300;}
   line-height: 120%;
}