@mixin flex-container($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.item {
   @include flex-container(center, flex-start);
   gap: 20px;
   max-width: 512 px;
   margin-bottom: 20px;

}

.image {
   width: 82px;
   height: 82px;
   background-size: cover;
   filter: drop-shadow(0px 8px 25px rgba(224, 219, 196, 0.90));
   border-radius: 20px;

}

.actions {
   @include flex-container(center, center);
   margin-left: auto;
   gap: 10px;
   align-self: flex-start;


}

.description {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.name {
   color:var(--text-color);
   font: {
      family: Open Sans;
      size: 18px;
      style: normal;
      weight: 600;
      height: normal;
   }
}

.price{
   color:var(--primary-color);
   font: {
      size: 16px;
      style: normal;
      weight: 600;
      height: normal;
   }
}

.minus {
   @include flex-container(center, center);
   background: none;
   border: 1px solid var(--primary-color);
   border-radius: 50%;
   width: 29px;
   height: 29px;
}

.plus {
   @include flex-container(center, center);
   background: var(--primary-color);
   border: 1px solid var(--primary-color);
   border-radius: 50%;
   width: 29px;
   height: 29px;
}

.remove {
   @include flex-container(center, center);
   background: none;
   border: none;
   border-radius: 50%;
   width: 29px;
   height: 29px;
}

.number {
   color: var(--text-color);
   font: {
      size: 16px;
      style: normal;
      weight: 600;
      height: normal;
   }
}
