:root {
   --primary-color: #fe724c; 
   --primary-hover-color: #c34f2e; 
   --text-color: #000000;
   --text-secondary-color: #5b5b5e;
   --white-color: #ffffff;
   --separator-color: #d4d6e0;
   --b-r: 50%;
  
}

body {
   font-family: 'Open Sans', sans-serif;
   margin: 0;

}