@mixin flex-container($flex-direction,$justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}


.layout {
   @include flex-container(none, none, none);
   min-height: 100vh;
   
}

.sidebar {
   padding: 30px;
   border-right: 1px solid var(--separator-color);
   @include flex-container(column, none, none);

}

.exit {
   margin-top: auto;
   @include flex-container(none, center, center);
   gap: 9px;
}

.menu {
   @include flex-container(column, none, none);
   gap: 35px;
}

.link {
   @include flex-container(none, none, center);
   gap: 14px;
   text-decoration: none;
   color: var(--text-color);
}

.link:hover {
   color: var(--primary-color);
}

.active {
   color: var(--primary-color);
}

.user {
   margin-bottom: 46px;

}

.avatar {
   margin-left: -30px;
   margin-top: -30px;
   filter: drop-shadow(0px 8px 40px rgba(255, 197,41, 0.25));
}
.avatar:hover {
   cursor: pointer;

}

.name {
   font: {
      size: 20px;
      style: normal;
      weight: 700;}
   line-height: normal;
   color: var(--text-color);
   margin-top: -30px;
}

.email {
   font: {
      size: 14px;
      style: normal;
      weight: 400;}
   line-height: normal;
   color: #9ea1b1
}

.content {
   padding: 40px 60px;
   width: 100%;
}

.cart-count {
   background: var(--primary-color);
   @include flex-container(none, center, center);
   border-radius: 50%;
   width: 20px;
   height: 20px;
   font-size: 12px;
   color: var(--white-color);
}